<a href="https://colab.research.google.com/github/smithjaa/Intro_to_Programming/blob/main/SupplementalCodingSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Supplemental Coding Set


Work completed by Jacob Smith.

IMPORTANT: Remember to screen record ALL of your work on at least one operation performed on your dataset. You must turn off the generative AI code-completion for this operation, as this problem is preparation for our final exam practical. You can turn off generative AI code-completion within Colab by tapping/clicking the settings icon in the upper right, tapping/clicking the AI Assistance section, and then deselecting "Consented to use generative AI features" and selecting "Hide generative AI features" (these settings may be returned to their previous states once you've completed this problem).

If you start to struggle with a problem for an extended period of time, remember you can go comment on two other submissions now (seeing other student work helps), or you can post in our discussion forum for questions, which can also earn you extra credit.

## Imports

**If your program requires additional modules, external resources, or files, use this cell to set them up**

In [ ]:
# configure your environment

# you can uncomment this code to make use of files stored in your Google Drive
# from google.colab import drive
# drive.mount('/content/drive')

## Pandas Operations

Please import your dataset into a Pandas Dataframe in the cell below. Please remember to display the top 10 rows of your dataset so students can easily get a sense for the dataset you chose to explore.

You may perform additional operations on your dataset that were covered in our slides to explore a bit, though this is optional.

In [1]:
# import the pandas library
import pandas as pd

#Data Set consists of video game sales stats from 1980-2017, and is sourced from kaggle
# import your dataset of interest and store it in a dataframe
df = pd.read_csv("vgsales.csv")

# remember to display the top 10 rows of your dataset once you have it imported
print(df.head(10))

   Rank                       Name Platform    Year         Genre Publisher  \
0     1                 Wii Sports      Wii  2006.0        Sports  Nintendo
1     2          Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3             Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4          Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5   Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo
5     6                     Tetris       GB  1989.0        Puzzle  Nintendo
6     7      New Super Mario Bros.       DS  2006.0      Platform  Nintendo
7     8                   Wii Play      Wii  2006.0          Misc  Nintendo
8     9  New Super Mario Bros. Wii      Wii  2009.0      Platform  Nintendo
9    10                  Duck Hunt      NES  1984.0       Shooter  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37
5     23.20      2.26      4.22         0.58         30.26
6     11.38      9.23      6.50         2.90         30.01
7     14.03      9.20      2.93         2.85         29.02
8     14.59      7.06      4.70         2.26         28.62
9     26.93      0.63      0.28         0.47         28.31

### Operation 1

#### Question Text

*Use nlargest to report the top 5 best selling games from 1980-2017*

#### High-Level Overview

*This operation went fairly smoothly.  I wasn't sure that the result would come with a simple print statement but it worked out.  The nlargest command is pretty easy to use.*

In [3]:
# add your code to this cell
# remember to include comments like this one for most of your code
# remember to "Run cell" once you're done, excecuting your code so the output is displayed below

#Calculate the top 5 best selling games and assign to a variable
best_sellers = df.nlargest(5, "Global_Sales")
#Print the result
print (best_sellers)

   Rank                      Name Platform    Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006.0        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37

### Operation 2

#### Question Text

*Filter by games on the playstation 4 (PS4), then display the top 5 in NA_Sales*

#### High-Level Overview

*This was my final question, and most challenging question.  I first tried to accomplish the sort by looking through the user documentation, and found some hints but lightning kind of struck as I reviewed the synthetic dogs dataset that we went over.  I even briefly changed direction and started to try my luck at a pivot table, but in that process kind of stumbled into the formatting for completing the task I set out to do.*

In [60]:
# add your code to this cell
# remember to include comments like this one for most of your code
# remember to "Run cell" once you're done, excecuting your code so the output is displayed below

#Filter games by ps4 
ps4_games = df[df['Platform'] == 'PS4']

#Sort by NA_Sales and get top 5
ps4_na = ps4_games.sort_values('NA_Sales', ascending=False).head(5)

#Print our dataset
print(ps4_na)

     Rank                            Name Platform    Year    Genre  \
33     34       Call of Duty: Black Ops 3      PS4  2015.0  Shooter
44     45              Grand Theft Auto V      PS4  2014.0   Action
92     93    Star Wars Battlefront (2015)      PS4  2015.0  Shooter
93     94  Call of Duty: Advanced Warfare      PS4  2014.0  Shooter
154   155                         Destiny      PS4  2014.0  Shooter

                Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
33             Activision      5.77      5.81      0.35         2.31
44   Take-Two Interactive      3.80      5.81      0.36         2.02
92        Electronic Arts      2.93      3.29      0.22         1.23
93             Activision      2.80      3.30      0.14         1.37
154            Activision      2.49      2.05      0.16         0.96

     Global_Sales
33          14.24
44          11.98
92           7.67
93           7.60
154          5.65

### Operation 3

#### Question Text

*Use value_counts to count the number of games in each genre of game.*

#### High-Level Overview

*For this section of code I decided to find the number of games in each genre column for each type of game and report the result.  In further searching, I noticed an example where the counts were put in an ascending order and decided to implament that as well.  I tried descending and it didn't work for me, and later learned that I had to change ascending to False in order for that to work.  I had several issues with formatting and basic syntax but it wasn't too difficult!*

In [64]:
# add your code to this cell
# remember to include comments like this one for most of your code
# remember to "Run cell" once you're done, excecuting your code so the output is displayed below

#Use value_counts to count the number of each type of game genre, assign to a variable
genre_count = df['Genre'].value_counts(ascending=False)

#print the result
print(genre_count)

Genre
Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: count, dtype: int64

## Helpful Checks

1.   Did you comment every line of code with meaningful information that will help others reading your code?
2.   Did you use appropriate names for your variables, functions, and/or classes?
3.   Did you include a high-level explanation for each operation?
4.   Did you run each cell that includes code so the output is saved and easily viewed by others?
5.   Are you sharing an editable link (i.e., Share > Anyone with the link > Editor) if using Colaboratory, or did you make more than ten commits if using GitHub?
6.   Did you remember to comment on the submissions of two other students?
7.   Did you remember to screen record all of your work for at least one operation while turning off the generative AI features?
8.   Did you remember to display the top 10 rows in your dataset so other students can easily view example rows?